body {


}


.hero_style {
  background-image: url(../img/set_runner.jpg);
  background-size: cover;
  height: 34rem;
  width: auto
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  min-width: 100%;
}

.hero_style_2 {
  background-image: url(../img/bikers.jpg);
  background-size: cover;
  height: 34rem;
  width: auto
  margin-left: auto;
  margin-right: auto;
  min-width: 100%;

}

.hero_one_text_style {

  margin-top: 8rem;

}

.hero_button_style {

border-radius: 0px;

}

.hero_one_text_style_right {

border-radius: 0px;
margin-top: 8rem;
text-align: right;
color: #ffffff;

}


/*  */


.product_001 {
  background-image: url(../img/baseball.jpg);
  background-size: cover;
  height: 12rem;

}

.product_001-2 {
  background-image: url(../img/basketball.jpg);
  background-size: cover;
  height: 12rem;

}

.product_002 {
  background-image: url(../img/rug_play.jpg);
  background-size: cover;
  height: 12rem;

}

.product_003 {
  background-image: url(../img/jumper.jpg);
  background-size: cover;
  height: 12rem;

}

.article_001 {
  background-image: url(../img/boxers.jpg);
  background-size: cover;
  height: 35rem;

}

.article_002 {
  background-image: url(../img/jumper.jpg);
  background-size: cover;
  height: 35rem;

}
